<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Division2Sprinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Division2Sprinter.Properties.Settings>
            <setting name="Instructions" serializeAs="String">
                <value>This program will keep you always sprinting in Tom Clancy's The Division 2.

Requirements
    Gamepad controller (eg. XBox 360/Elite controller)

Setup
    Change the following settings in the game:
        Settings &gt; Controls &gt; Toggle to Sprint =&gt; No
        Settings &gt; Key Mapping &gt; Sprint =&gt; LMB (Left Mouse Button)

    (OPTIONAL)
    Moving the thumbstick down while sprinting will cause you to
    do a 180 turn unless you disable the following setting:
        Settings &gt; Controls &gt; 180 Spin Turn =&gt; Off

Usage
    Start this program and then start Tom Clancy's The Division 2.
    Whenever your left thumbstick is over 70% in any direction the
    left mouse button will be held down, causing you to sprint.

NOTE
    Start the program with the argument -h for information on how
    to customize controller, mouse button and threshold. Example:
    Division2Sprinter.exe -h</value>
            </setting>
            <setting name="ControllerError" serializeAs="String">
                <value>ERROR: Controller is not connected.
Hint: Do you have an XBox 360/Elite controller attached?
Press any key to quit.</value>
            </setting>
            <setting name="Started" serializeAs="String">
                <value>Please switch to Tom Clancy's The Division 2 and enjoy the game.
Return to this window and press any key to quit.</value>
            </setting>
            <setting name="Sprint" serializeAs="String">
                <value>Sprint</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>Duration</value>
            </setting>
            <setting name="AverageDuration" serializeAs="String">
                <value>average duration</value>
            </setting>
            <setting name="ThresholdError" serializeAs="String">
                <value>ERROR: Threshold percent is not valid.
Hint: Threshold percent must be between 25-100.
Press any key to quit.</value>
            </setting>
        </Division2Sprinter.Properties.Settings>
    </userSettings>
</configuration>